[core]
	excludesfile = ~/.gitignore

[push]
	default = current
	followTags = true

[remote]
	pushDefault = origin

[branch]
	autosetuprebase = always

[commit]
	verbose = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[include]
	path = ~/.gitconfig-local